body{
  background-color: #2d3047;
  margin: 0;
  padding: 0;
}

*{
  padding: 0;
  margin: 0;
}

.MuiDropzoneArea-root {
  height: 100%;
  background: #85ff9d0c !important ;
  color: #fcba04 !important ;
}

.MuiDropzoneArea-icon {
  color: #fcba04 !important ;
}